<ion-view view-title="Cuisiner avec Gault&Millau" hide-nav-bar="true">
	<ion-content ion-sticky>
		<div class="btn-go-back item-divider" ng-click="goHome()"><span class="icon-flch-gauche"></span></div>

		<section class="cuisiner">
			<div class="illustration-container">

				<div class="row">
					<div class="col">
						<div class="primary-title-container">
							<h1 translate="recipes.title" class="title">On passe à la pratique avec Gault&Millau</h1>
						</div>
					</div>
				</div>

				<div class="tabs-container">
					<div class="row">
						<div class="col">
							<a href="javascript:void(0)" class="tablinks2 tabs-block active btn-filter" ng-click="clickTab($event, '1')">
								<span class="entitled">{{tabFamilyRecipes[1]}}</span>
							</a>
						</div>
						<div class="col">
							<a href="javascript:void(0)" class="tablinks2 tabs-block btn-filter" ng-click="clickTab($event, '2')">
								<span class="entitled">{{tabFamilyRecipes[2]}}</span>
							</a>
						</div>
						<div class="col">
							<a href="javascript:void(0)" class="tablinks2 tabs-block btn-filter" ng-click="clickTab($event, '3')">
								<span class="entitled">{{tabFamilyRecipes[3]}}</span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div id="entrees" class="tabcontent2" ng-show="showList1">
						<div class="recipe-counter">
							<p class="text">Il y a <span class="number">{{tabRecipes[0].length}}</span> recettes d'entrées</p>
						</div>
						<ul class="list">
							<li class="recipe-item" ng-repeat="item in tabRecipes[0] track by item.id">
								<a class="recipe-link-container {{item.new}}" href="#/app/cuisiner/{{item.id}}">
									<figure>
										<img ng-src="img/recipes/{{ item.image }}" width="100%">
										<figcaption class="description">
											<span class="text">{{item.title}}</span>
											<span class="time-recipe">1h30</span>
										</figcaption>
									</figure>
								</a>
							</li>
						</ul>
					</div>

					<div id="plats" class="tabcontent2" ng-show="showList2">
						<div class="recipe-counter">
							<p class="text">Il y a <span class="number">{{tabRecipes[1].length}}</span> recettes de plats</p>
						</div>
						<ul class="list">
							<li class="recipe-item" ng-repeat="item in tabRecipes[1] track by item.id">
								<a class="recipe-link-container {{item.new}}" href="#/app/cuisiner/{{item.id}}">
									<figure>
										<img ng-src="img/recipes/{{ item.image }}" width="100%">
										<figcaption class="description">
											<span class="text">{{item.title}}</span>
											<span class="time-recipe">1h30</span>
										</figcaption>
									</figure>
								</a>
							</li>
						</ul>
					</div>

					<div id="desserts" class="tabcontent" ng-show="showList3">
						<div class="recipe-counter">
							<p class="text">Il y a <span class="number">{{tabRecipes[2].length}}</span> recettes de desserts</p>
						</div>
						<ul class="list">
							<li class="recipe-item" ng-repeat="item in tabRecipes[2] track by item.id">
								<a class="recipe-link-container {{item.new}}" href="#/app/cuisiner/{{item.id}}">
									<figure>
										<img ng-src="img/recipes/{{ item.image }}" width="100%">
										<figcaption class="description">
											<span class="text">{{item.title}}</span>
											<span class="time-recipe">1h30</span>
										</figcaption>
									</figure>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- <div class="row">
<div class="col">
<div class="btn-container">
<a class="button btn-ghost" href="#/app/cuisiner">Plus de recettes</a>
</div>
</div>
</div> -->

		</section>

	</ion-content>
</ion-view>