<ion-view id="test" view-title="Trouver votre Accord" hide-nav-bar="true">
	<ion-content ion-sticky>
		<div class="btn-go-back item-divider" ng-click="goHome()"></div>

		<section class="trouver-accord">
			<div class="illustration-container">

				<div class="row">
					<div class="col">
						<div class="primary-title-container">
							<h1 translate="accord.title" class="title">Trouver l'accord <br> parfait par type de :</h1>
						</div>
					</div>
				</div>

				<div class="tabs-container">
					<div class="row">
						<div class="col">
							<a href="javascript:void(0)" class="tablinks tabs-block active btn-filter-flavors" ng-click="clickTab($event, '1')">
								<span translate="accord.saveurs" class="entitled icone icone-saveur">Saveurs</span>
							</a>
						</div>
						<div class="col">
							<a href="javascript:void(0)" class="tablinks tabs-block btn-filter-flavors" ng-click="clickTab($event, '2')">
								<span translate="accord.cognac" class="entitled icone icone-cognac">Cognac</span>
							</a>
						</div>
					</div>
				</div>

				<img class="illustration" src="img/cognac-glass.png" alt="">
			</div>

			<div class="row">
				<div class="col">
					<div id="saveurs" class="tabcontent tab-content" ng-show="showListFlavors1">
						<ul>
							<li class="filter-container">
								<div id="filter" toggle-class="switch-icon" class="btn-toggle" slide-toggle="#derp" toggle-class="active" translate="accord.filtrer">Filtrer les saveurs</div>
								<ul id="derp" class="slideable slideable-container">
									<li ng-click="filterList(1)" class="list-item icone icone-saveur-1">Fromages</li>
									<li ng-click="filterList(2)" class="list-item icone icone-saveur-2">Fruit et légumes</li>
									<li ng-click="filterList(3)" class="list-item icone icone-saveur-3">Pâtisseries et chocolats</li>
									<li ng-click="filterList(4)" class="list-item icone icone-saveur-4">Poissons et produits de la mer</li>
									<li ng-click="filterList(5)" class="list-item icone icone-saveur-5">Viandes et charcuteries</li>
									<li ng-click="filterList(0)" class="list-item icone icone-saveur-0">Toutes les saveurs</li>
								</ul>
							</li>
							<li ng-repeat="item in tabSaveurs | orderBy:'title'">
								<a ng-show="{{ 'show_' + item.family }}" class="tab-link icone icone-saveur-{{item.family}}" href="#/app/trouver-saveurs/{{item.id}}">{{item.title}}</a>
							</li>
						</ul>
					</div>

					<div id="cognac" class="tabcontent tab-content" ng-show="showListFlavors2">				
						<ul>
							<li ng-repeat="item in tabCognac track by item.id">
								<a class="tab-link icone icone-cognac-{{item.id + 1}}" href="#/app/trouver-cognac/{{item.id}}">{{item.title}}</a>
							</li>
						</ul>

					</div>
				</div>
			</div> 
		</section>

	</ion-content>
</ion-view>