<ion-view view-title="" hide-nav-bar="true">
	<ion-content ion-sticky>
		<div class="btn-go-back item-divider" ng-click="goBack()"></div>

		<section class="accord">
			<div class="row">
				<div class="col">
					<div class="description-accord">
						<div class="illustration-container">
							<img class="illustration" src="img/cognac/{{ tabContent.image }}">
							<span class="icone-block icone icone-cognac-{{ tabContent.id+1 }}"></span>
						</div>

						<div class="primary-title-container">
							<h1 class="title">Cognac {{ tabContent.title }}</h1>
							<span class="item-family">{{ tabContent.family }}</span>
						</div>

						<div class="description-block description-block-read-more">
							<div class="invisible-read-more" toggle-class="switch-state" slide-toggle="#read-more">
								<span class="info-read-more" translate="accord.lire-suite">Lire la suite</span>
								<span class="info-read-less" translate="accord.lire-close">Réduire</span>
							</div>
							<p id="read-more" class="content-read-more slideable text" ng-bind-html="renderHtml(tabContent.intro)"></p>
						</div>
					</div>

					<div class="accords-possibility-container">
						<div class="accords-possibility-block">
							<h3 class="title" toggle-class="switch-icon" slide-toggle="#definication-accords-majeurs-c" translate="gen.accord-maj">Accords Majeurs</h3>
							<div id="definication-accords-majeurs-c" class="slideable definition">
								<p class="text" translate="gen.accord-maj-exp">L’accord majeur c’est l’équilibre parfait entre une saveur et un cognac lorsque solide et liquide se complètent parfaitement et prolongent le plaisir.</p>
							</div>

							<ul class="list">
								<li class="list-item icone icone-saveur-{{item.family}}" ng-repeat="item in tabPerfect | orderBy:'note':-1">
									{{item.name}}
									<span class="note">{{item.note}}<span class="denominator">/5</span></span>
								</li>
								<li translate="accord.no-accord-majeurs" translate="accord.no-accord" class="no-accord" ng-show="!tabPerfect.length">Il n'existe pas d'Accords Majeurs pour ce Cognac.</li>
							</ul>
						</div>

						<div class="accords-possibility-block">
							<h3 class="title" toggle-class="switch-icon" slide-toggle="#definication-accords-possibles-c" translate="gen.accord-possible">Accords Possible</h3>
							<div id="definication-accords-possibles-c" class="slideable definition">
								<p class="text" translate="gen.accord-possible-exp">Un accord possible, c’est un équilibre fragile entre une saveur et un cognac. <br> L’un des deux éléments prend le pas sur l’autre. <br> C’est une belle rencontre qui ne peut toutefois pas tenir toutes ses promesses.</p>
							</div>

							<ul class="list">
								<li class="list-item icone icone-saveur-{{item.family}}" ng-repeat="item in tabPossible | orderBy:'note':-1">
									{{item.name}}
									<span class="note">{{item.note}}<span class="denominator">/5</span></span>
								</li>
								<li translate="accord.no-accord-possible" class="no-accord" ng-show="!tabPossible.length">Il n'y a pas d'Accord possible pour ce Cognac.</li>
							</ul>
						</div>

						<div class="accords-possibility-block end">
							<h3 class="title" toggle-class="switch-icon" slide-toggle="#definication-accords-a-eviter-c" translate="gen.accord-not">Accords a Éviter</h3>
							<div id="definication-accords-a-eviter-c" class="slideable definition">
								<p class="text" translate="gen.accord-not-exp">Un accord à éviter, c’est lorsque l’équilibre ne se produit pas entre liquide et solide. <br> Par exemple, lorsque le cognac est trop puissant ou le met trop discret.</p>
							</div>

							<ul class="list">
								<li class="list-item icone icone-saveur-{{item.family}}" ng-repeat="item in tabAvoid | orderBy:'note':-1">
									{{item.name}}
									<span class="note">{{item.note}}<span class="denominator">/5</span></span>
								</li>
								<li translate="accord.no-accord-eviter" class="no-accord" ng-show="!tabAvoid.length">Il n'y a pas d'Accord à éviter avec ce Cognac.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="cooking-recipes">
			<div class="row">
				<div class="col">
					<div class="secondary-title-container">
						<h2 class="title"><span translate="accord.title-recipes-cognac">Les Recettes avec du Cognac</span> {{ tabContent.title }}</h2>
					</div>
				</div>
			</div>

			<div class="slider-container">
				<ks-swiper-container class="swiper-container"
									 initial-slide="0"
									 speed="2000"
									 loop="false"
									 show-nav-buttons="false"
									 slides-per-view="1"
									 space-between="5"
									 pagination-is-active="true"
									 pagination-clickable="true"
									 override-parameters="{effect: 'coverflow',coverflow: {rotate: 50,stretch: 0,depth: 100,modifier: 1,slideShadows : false}}"
									 on-ready="onReadySwiper(swiper)">

					<ks-swiper-slide class="swiper-slide" ng-repeat="item in associatedRecipes track by $index">
						<a class="recipe-link-container" href="#/app/cuisiner/{{item.id}}">
							<figure>
								<img ng-src="img/recipes/{{ item.image }}" width="100%">
								<figcaption class="description">
									<span class="text">{{item.title}}</span>
									<span class="time-recipe">{{item.time}}</span>
								</figcaption>
							</figure>
						</a>
					</ks-swiper-slide>            
				</ks-swiper-container>
			</div>

			<div class="row">
				<div class="col">
					<div class="btn-container">
						<a translate="gen.btn-recette" class="button btn-ghost" href="#/app/cuisiner">Plus de recettes</a>
					</div>
				</div>
			</div>
		</section>

	</ion-content>
</ion-view>